@media print {

    .barcodes {
        page-break-after: always;
        page-break-before: always;
        display: block !important;
        margin: 0;
        padding: 0;
    }

}

@page {

    size: 30mm 20mm !important;
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;

}
