@media print {

        .page-break  {
            page-break-before: always !important;
        }

}

@page {

    size: 30mm 20mm !important;
    margin: 0 !important;
    padding: 0 !important;

}
